CompileFlags:
    Add: [
        "-isysroot c:/users/08607/scoop/apps/gcc-arm-none-eabi/current/lib/gcc/arm-none-eabi"
    ]
    Remove: [--target=arm-none-eabi, -mthumb-interwork]
    Compiler: arm-none-eabi-gcc
    CompilationDatabase: ./build
Index:
    StandardLibrary: Yes
Diagnostics:
    Suppress: pp_file_not_found
    ClangTidy:
        Add: [
            bugprone-*,
            clang-analyzer-core.uninitialized.*
        ]
        Remove: [
            bugprone-reserved-identifier
        ]